<nav class="nav navbar-dark bg-primary p-2">
  <a href="" class="navbar-brand">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    Ejemplo de uso de Two Way Binding by Miguel Pedraza
  </a>
</nav>

<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <img src="../assets/img/teclogo.png" alt="Logo del tec" class="logotec" />
    </div>

    <div class="col-md-8">
      <ul class="list-group">
        <li
          *ngFor="let alumno of alumnosArray"
          (click)="openForEdit(alumno)"
          class="list-group-item list-group-item-action"
          [class.active]="alumno == selectedAlumno"
        >
          <span class="badge bg-info">{{ alumno.id }}</span>
          {{ alumno.nombre }} - {{ alumno.grado }} - {{ alumno.edad }}
        </li>
      </ul>
      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Inserta un nuevo alumno</div>
            <div class="form-group mb-3">
              <input
                [(ngModel)]="selectedAlumno.nombre"
                type="text"
                class="form-control"
                placeholder="Inserta un nombre"
              />
            </div>
            <div class="form-group mb-3">
              <input
                [(ngModel)]="selectedAlumno.grado"
                type="text"
                class="form-control"
                placeholder="Inserta el grado"
              />
            </div>
            <div class="form-group mb-3">
              <input
                [(ngModel)]="selectedAlumno.edad"
                type="text"
                class="form-control"
                placeholder="Inserta la edad"
              />
            </div>
            <button
              *ngIf="selectedAlumno.id === 0"
              (click)="addOrEdit()"
              class="btn btn-primary"
            >
              Agregar
            </button>
            <button
              *ngIf="selectedAlumno.id !== 0"
              (click)="addOrEdit()"
              class="btn btn-warning"
            >
              Modificar
            </button>
            <button
              *ngIf="selectedAlumno.id !== 0"
              (click)="delete()"
              class="btn btn-danger ms-3"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
